<!DOCTYPE html>
<html>
<head>
  <title>Recepten</title>
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag '/stylesheets/screen', :media => 'screen, projection' %>
  <%= stylesheet_link_tag '/stylesheets/print', :media => 'print'%>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag '/stylesheets/ie', :media => 'screen, projection' %>
  <![endif]-->
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">

    <div class="span-24">
      <%= flash[:notice] %>
      <%= yield %>
    </div>

  </div>
</body>
</html>
